<div class="container">
    <div>
        <div class="pg-title mt-4">
            <h2>All Restaurants</h2>
        </div>
        <div class="menu flex flex-row justify-between mt-8">
            <div class="menu-card">
                <div>
                    <img src="assets/menu/pizza.png" alt="">
                </div>
                <div>
                    <h3>Pizza</h3>
                </div>
            </div>
    
            <div class="menu-card">
                <div>
                    <img src="assets/menu/burger.png" alt="">
                </div>
                <div>
                    <h3>Burger</h3>
                </div>
            </div>
    
            <div class="menu-card">
                <div>
                    <img src="assets/menu/bbq.png" alt="">
                </div>
                <div>
                    <h3>BBQ</h3>
                </div>
            </div>
    
            <div class="menu-card">
                <div>
                    <img src="assets/menu/sushi.png" alt="">
                </div>
                <div>
                    <h3>Sushi</h3>
                </div>
            </div>
    
            <div class="menu-card">
                <div>
                    <img src="assets/menu/vegan.png" alt="">
                </div>
                <div>
                    <h3>Vegan</h3>
                </div>
            </div>
    
            <div class="menu-card">
                <div>
                    <img src="assets/menu/desert.png" alt="">
                </div>
                <div>
                    <h3>Deserts</h3>
                </div>
            </div>
        </div>

        <div class="adv-filter flex flex-row mt-4">
            <div class="flex flex-row justify-between gap-2">
                <span>Dining Options</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M9 3L3 9" stroke="#4E60FF" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 3L9 9" stroke="#4E60FF" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                </span>
            </div>
            <div>
                <span>Price Range</span>
            </div>
            <div>
                <span>Delivery Time</span>
            </div>
            <div>
                <span>Payment Methods</span>
            </div>
        </div>

        <div class="filter-option flex flex-col justify-around">
            <div class="mt-4 mb-2 ms-4">
                <span>Dining Options</span>
            </div>
            <div class="ms-4 mb-4 flex flex-row gap-3">
                <button>Dine In</button>
                <button>Delivery</button>
                <button>Pickup</button>
            </div>
        </div>

        <div class="price-range flex flex-col">
            <div>
                <div class="ms-4 mb-3 mt-4">
                    <span class="text-dec">Min sum price range</span>
                </div>
                <div class="flex flex-col items-center trend-img">
                    <div>
                        <img src="assets/filter/trends.png" alt="">
                    </div>
                    <div class="flex flex-row price-tool">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <circle cx="7" cy="7" r="6" fill="white" stroke="#4E60FF" stroke-width="2"/>
                              </svg>
                        </div>
                        <div class="horizontal-line">
                            
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <circle cx="7" cy="7" r="6" fill="white" stroke="#4E60FF" stroke-width="2"/>
                              </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-row ms-4 mb-5 me-4 justify-between">
                   <div>
                    <div>
                        <span>From</span>
                    </div>
                    <div class="price">
                        <input placeholder="$ 200" type="text">
                    </div>
                   </div>
                    <div>
                        <div>
                            <div>
                                <span>To</span>
                            </div>
                            <div class="price">
                                <input placeholder="$ 304" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
