<div class="container">
   <div class="flex flex-col">
    <div>
        <div class="flex flex-row justify-between mt-6">
            <div class="heading">
                <h2>Hottest Deals</h2>
            </div>
            <div class="hot-btn">
                <button type="button">All Deals</button>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-evenly mt-4">
        <div class="card1">
            <div class="flex flex-row">
                <div class="img">
                    <img src="assets/banner_img/banner1.png" alt="">
                </div>
                <div class="flex flex-col justify-between">
                    <span class="top-text">All Deserts</span>
                    <span class="middle-text">20 % OFF</span>
                    <span class="bottom-text">Deserty</span>
                </div>
            </div>
        </div>
        <div class="card2">
            <div class="flex flex-row">
                <div class="img">
                    <img src="assets/banner_img/banner2.png" alt="">
                </div>
                <div class="flex flex-col justify-between">
                    <span class="top-text">Big Burgers</span>
                    <span class="middle-text">50 % off</span>
                    <span class="bottom-text">Foodies</span>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
