<div class="container">
    <div class="flex flex-col mb-4">
        <div>
            <div class="flex flex-row justify-between mt-6">
                <div class="heading">
                    <h2>Nearby Restaurants</h2>
                </div>
                <div class="hot-btn">
                    <button type="button">All Reataurants</button>
                </div>
            </div>
        </div>
        <div class="mt-4 grid grid-rows-2 grid-flow-col gap-7">
            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>

            <div>
                <food-delivery-app-restaurant-card></food-delivery-app-restaurant-card>
            </div>
        </div>

        <div class="mx-auto mt-8">
            <button class="load">Load More</button>
        </div>
</div>