<div class="container">
    <div class="menu flex flex-row justify-evenly mt-8">
        <div class="menu-card">
            <div>
                <img src="assets/menu/pizza.png" alt="">
            </div>
            <div>
                <h3>Pizza</h3>
            </div>
        </div>

        <div class="menu-card">
            <div>
                <img src="assets/menu/burger.png" alt="">
            </div>
            <div>
                <h3>Burger</h3>
            </div>
        </div>

        <div class="menu-card">
            <div>
                <img src="assets/menu/bbq.png" alt="">
            </div>
            <div>
                <h3>BBQ</h3>
            </div>
        </div>

        <div class="menu-card">
            <div>
                <img src="assets/menu/sushi.png" alt="">
            </div>
            <div>
                <h3>Sushi</h3>
            </div>
        </div>

        <div class="menu-card">
            <div>
                <img src="assets/menu/vegan.png" alt="">
            </div>
            <div>
                <h3>Vegan</h3>
            </div>
        </div>

        <div class="menu-card">
            <div>
                <img src="assets/menu/desert.png" alt="">
            </div>
            <div>
                <h3>Deserts</h3>
            </div>
        </div>
    </div>
</div>
